
//fonts
$fontRobot: font-family: 'Roboto', sans-serif;
$fontRobotslab:font-family: 'Roboto Slab', serif;

//color

$colorWhite: #fff;
$colororange:#f26002;
$colorBlack: #000;

//$fontSize:;
