<footer class="footer">
  <a class="footer-button" href="#header-arrow"></a>

  <nav class="footer-nav">
    <div class="footer-container">
      <div class="footer-box1">
        <ul class="footer-nav-list">
          <li><a href="https://adalab.es/" title="Articles" target="_blank">Articles</a></li>
          <li><a href="https://adalab.es/" title="Books" target="_blank">Books</a></li>
          <li><a href="https://adalab.es/" title="Events" target="_blank">Events</a></li>
          <li><a href="https://adalab.es/" title="Reasons" target="_blank">Reasons</a></li>
          <li><a href="https://adalab.es/" title="Tips" target="_blank">Tips</a></li>
        </ul>
      </div>
      <div class="footer-box2">
        <ul class="footer-nav-list">
          <li><a href="https://twitter.com/Adalab_Digital">Twiter</a></li>
          <li><a href="https://www.instagram.com/adalab_digital/?hl=es">Instagram</a></li>
          <li>
            <a href="https://adalab.es/" title="pagina web Adalab" target="_blank"
              >Mastodon Social</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-box3">
        <p class="footer-copy">©2023</p>
        <p class="footer-components">we<span class="footer-span"> ❤︎ </span>components</p>
      </div>
    </div>
  </nav>
</footer>
