<section class="main-section-white">
  <small class="main-small">Insomnia Tips</small>

  <h2 class="main-section-white-title">Looking Through A Window</h2>
  <p class="main-secttion-white-paragraph">
    Donec accumsan, nulla ut volutpant porttitor, quam odio tempus felis, at luctu ex diam nec
    lectus. Vivamus semper sodales rutrum.
  </p>
  <a
    class="main-section-white-button"
    href="https://adalab.es/"
    title="pagina web adalab"
    target="_blank"
    >Go</a
  >
</section>
