<main>
  <section>
    <a href="">Insomnia tips</a>
    <!--verificar si esta unn link-->
    <h2>Looking Through a Window</h2>
    <p>
      Donec accumsan, nulla ut volutpant porttitor, quam odio tempus felis, at luctu ex diam nec
      lectus. Vivamus semper sodales rutrum.
    </p>
    <button>Go</button>
  </section>
  <section>
    <h2>3 Reasons to Puschase</h2>
    <h3>Ut sed metus</h3>
    <p>Lorem ipsum dolor sit amet, consecteur</p>
    <h3>Curabitur ac erat</h3>
    <p>Mauris mattis urna quis lorem molestie</p>
    <h3>Mordbi dictum</h3>
    <p>Aliquam in dolor et dolor tincidunt</p>
  </section>
</main>
