<main class="main">
  <section class="main-section-white">
    <small class="main-small">Insomnia Tips</small>

    <h2 class="main-section-white-title">Looking Through A Window</h2>
    <p class="main-secttion-white-paragraph">
      Donec accumsan, nulla ut volutpant porttitor, quam odio tempus felis, at luctu ex diam nec
      lectus. Vivamus semper sodales rutrum.
    </p>
    <a
      class="main-section-white-button"
      href="https://adalab.es/"
      alt="pagina web adalab"
      target="_blank"
      >Go</a
    >
  </section>

  <section class="main-section-blue">
    <h2>3 Reasons To Purchas</h2>
    <div class="main-sextion-blue-boxe">
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consecteur</p>
    </div>
    <div class="main-sextion-blue-boxe">
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie</p>
    </div>
    <div class="main-sextion-blue-boxe">
      <h3>Mordbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt</p>
    </div>
  </section>
  <a
    class="main-section-blue-button"
    href="https://github.com/Adalab"
    alt="pagina web adalab"
    target="_blank"
    >More reasons</a
  >
</main>
