<section class="main-section-blue" id="sectionblue">
  <h2 class="title2">3 Reasons To Purchas</h2>

  <div class="main-section-blue-box">
    <article>
      <h3 class="title3">Ut sed metus</h3>
      <p class="paragraph">Lorem ipsum dolor sit amet, consecteur</p>
    </article>
    <article>
      <h3 class="title3">Curabitur ac erat</h3>
      <p class="paragraph">Mauris mattis urna quis lorem molestie</p>
    </article>
    <article>
      <h3 class="title3">Mordbi dictum</h3>
      <p class="paragraph">Aliquam in dolor et dolor tincidunt</p>
    </article>
  </div>

  <a
    class="main-section-blue-button"
    href="https://github.com/Adalab"
    alt="pagina web adalab"
    target="_blank"
    >More reasons</a
  >
</section>
