.hero-menu {
  width: 44px;
  height: 44px;
  position: fixed;
  background-color: #0271bc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-menu:hover {
  background-color: #d1a44f;
}
.header-menu:active {
  background-color: blueviolet;
}

.hero {
  height: 768px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

.hero-title {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); /*sombra texto zeplin*/
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  line-height: 55px; /*espaçamento entre as linhas do titutlo*/
}
.hero-paragraph {
  margin: 15px 0 45px 0;
  font-size: 16px;
}
.hero-button {
  background-image: url("../images/ico-scroll-down.svg");
  background-repeat: no-repeat;
  margin-bottom: 52px;
  border-radius: 50%;
  background-color: #fff;
  width: 45px;
  height: 45px;
  background-position: center;
}
.hero-button:hover {
  background-color: #d1a44f;
}
.hero-button:active {
  background-color: #ad62f3;
}

/*medias*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-title {
    width: 690px;
    font-size: 80px;
    line-height: 1.33; /*espaçamento entre as linhas do titutlo*/
  }
  .hero-paragraph {
    margin: 20px 0 30px 0;
    font-size: 24px;
  }
  .hero-button {
    margin-bottom: 45px;
  }
  .hero-button:hover {
    background-color: #d1a44f;
  }
  .hero-button:active {
    background-color: #ad62f3;
  }
}

@media screen and (min-width: 1024px) {
  .hero-title {
    width: 730px;
    font-size: 100px;
    line-height: 1.32; /*espaçamento entre as linhas do titutlo*/
  }
  .hero-paragraph {
    margin: 10px 0 30px 0;
    font-size: 24px;
  }
  .hero-button {
    margin-bottom: 13px;
  }
}
