.main-section-white {
  background-color: $colorWhite;
  padding: 0 15px;
  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 0 40px;
  }
  @media (min-width: 1025px) {
    width: 600px;
    margin: 0 auto;
    padding: 60px 0;
  }
}
.main-small {
  display: inline-block;
  margin: 30px 0 6px 0;
  color: #8ccbea;
  letter-spacing: 0.5px;
  font-size: 14px;
  @media (min-width: 1025px) {
    font-size: $fontsizeSmall;
  }
}

.main-section-white-title {
  color: $colorBlack;
  font-size: 24px;
  font-family: $fontRobotslab;
  font-weight: bold;
  line-height: 1.25;
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 26px;
  }
  @media (min-width: 1025px) {
    font-size: 32px;
    line-height: 1.5;
  }
}
.main-secttion-white-paragraph {
  font-size: 18px;
  line-height: 1.67;
  color: #4a4a4a;
  padding: 15px 0 0;
  @media (min-width: 768px) {
    font-size: 20px;
    margin: 30px 0;
  }
}
.main-section-white-button {
  display: inline-block;
  color: $colorOrange;
  background-color: $colorWhite;
  text-decoration: none;
  border: solid 2px $colorOrange;
  border-radius: 24px;
  padding: 2px 32px;
  font-size: $fotsizeLarge;
  font-weight: 500;
  margin: 30px 0 45px 0;
  line-height: 2;
  &:hover {
    background-color: $colorYellow;
  }
  &:active {
    background-color: $colorViolet;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    border-radius: 24px;
  }
  @media (min-width: 1025px) {
    padding: 2px 68px;
    margin-bottom: 15px;
  }
}
